<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" verbose="1" parallel="tests" thread-count="1" configfailurepolicy="continue">
    <com.epam.googlecloud.test name="Fill/validate estimation form" annotations="JDK" preserve-order="true">
        <classes>
            <class name="com.epam.googlecloud.test.GoogleCloudTest"/>
        </classes>
    </com.epam.googlecloud.test>
</suite>